.TempContainer {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    /* margin: 10px; */
}

.TempHumCard {
    height: 200px;
    width: 370px;
    padding: 0;
    background-color: #F3FDE8;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px gray;
    margin-bottom: 5px;
}

.CardRow {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: -10px;
}